*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: 0;
}
.body{
  height: 100vh;
  width: 100vw;
  background-color: #e8e5e5;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.side{
  height: 100vh;
  width: 220px;
  position: absolute;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.middlePart{
  height: 100px;
  margin: 30px 50px 30px 350px;
  /* text-align: center; */
}
li{
  width: 220px;
  padding: 5px;
}
ul{
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
ul :hover{
  width: 220px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(194, 193, 193);
}
.card-header{
  background-color: #e8e5e5;
}
.heading{
  font-weight: bold;
}
.box{
  height: 90vh;
  width: 70vw;
  background-color: white;
  margin-top: 0;
  padding-top: 0;

}
.containerr{
  height: 99vh;
  width: 60vw;
  background-color: white;
}
.trailing {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}
td{
  padding: 10px 20px;
}
table{
  width: 100%;
  max-width: 800px;
  overflow-x: auto;
}

tr {
  border-bottom: 1px solid #ccc; /* Border at the bottom of each row */
}
thead{
  background-color: #f4f1f1;
  
}
.headingg{
  display: flex;
  justify-content: space-between;
}
.dates{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}
.date{
  margin: 20px;
}
.todate{
  padding-left: 40px;
}
